.card-producto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.detail-imagen {
    width: 300px;
}
.text-producto {
    margin-left: 2rem;
}

@media screen and (max-width: 768px) {
    .card-producto {
        flex-direction: column;
    }
    .detail-imagen {
        max-width: 180px;
        margin-bottom: 1rem;
    }
    .text-producto {
        margin: 0 10px;
        text-align: center;
    }
}