.bi-cart {
    width: 2rem;
    color: white;
    margin-right: 1rem;
}
.cart :hover {
    color: rgb(231, 64, 64);
}
.cart-widget {
    position: relative;
}
.quantity-container {
    position: absolute;
    top: 12px;
    right: 4px;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: red;
    text-align: center;
}
.quantity {
    color: white;
}
.quantity-container :hover {
    color: white;
}