.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-image: url("../../image/portada-2.jpg");
    background-repeat: initial;
    background-position: center;
    background-size: cover;
}

.text {
    color: rgb(236, 56, 56);
    text-align: center;
}
.title{
    font-size: 5rem;
}
.parrafo{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(121, 13, 13);
}