.sesion-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.invalid-form{
    color: red;
}
.invalid-input{
    border: solid 1px red;
}
.valid-input{
    border: solid 1px green;
}
form {
    width: 600px;
    padding: 1rem;
    border: 1px solid rgba(180, 176, 176, 0.534);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 1rem;
}
.inputs-form{
    min-width: 500px;
}
.loguin-registro {
    margin-right: 1rem;
}
.sesion-btn {
    text-align: center;
}
.form-title {
    margin-bottom: 1rem;
}
.boton-sesion {
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    form {
        width: 360px;
    }
    .inputs-form{
        min-width: fit-content;
    }
    .form-title {
        margin: 0 10px 1rem ;
        text-align: left;
    }
}