.botones {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1rem;
}
.valores {
    text-align: center;
    width: 5rem;
    margin: 0;
}

.stock {
    width: 9.5rem;
    margin-top: 10px;
    background-color: rgb(41, 185, 41);
}

@media screen and (max-width: 768px) {
    .botones{ 
        justify-content: center;
    }
    .control {
        flex-direction: column;
    }
}